@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="PaymentForm" data-ng-submit="submitPaymentForm()" data-ng-controller="PaymentController" class="form-horizontal" role="form" novalidate>
   
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':PaymentForm.AccountNo.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Account No</label>
        <div class="col-sm-9">
            <input type="text" name="AccountNo" id="AccountNo" ng-model="Payment.AccountNo" class="col-xs-10 col-sm-5" required placeholder="Account No" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="PaymentForm.AccountNo.$error.required && submitted">
                Account No is required.
            </span>
        </div>

    </div>

    <div class="form-group" ng-show="CreditVisible" ng-class="{ 'has-error':PaymentForm.CreditType.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Credit Type</label>

        <div class="col-sm-9">
            <select data-ng-model="Payment.CreditType" id="CreditType" name="CreditType" class="col-xs-5 col-sm-2" bs-selectbox ng-required="CreditVisible">
                <option value='' selected >Please Choose</option>
                <option value="Adjustment">Adjustment</option>
                <option value="PrePayment">Pre Payment</option>
                <option value="OverPayment">Over Payment</option>
                <option value="OtherCredit">Other...</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="PaymentForm.CreditType.$error.required && submitted">
                Credit Type is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':PaymentForm.MemoNumber.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Memo Number</label>
        <div class="col-sm-9">
            <input type="text" name="MemoNumber" id="MemoNumber" ng-model="Payment.MemoNumber" class="col-xs-10 col-sm-5" required placeholder="Memo Number" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="PaymentForm.MemoNumber.$error.required && submitted">
                Memo is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':PaymentForm.Date.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Date</label>
        <div class="col-sm-9">
            <input type="text" data-date-format="mm-dd-yyyy" id="Date" name="Date" data-ng-model="Payment.Date" class="col-xs-6 col-sm-2 date-picker" required placeholder="Date">
            <span class="input-group-addon col-sm-3">
                <i class="fa fa-calendar bigger-110"></i>
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="PaymentForm.Date.$error.required && submitted">
                Date is required.
            </span>
        </div>
    </div>
   
    <div class="form-group" ng-class="{ 'has-error':PaymentForm.Amount.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Amount</label>
        <div class="col-sm-9">
            <input type="text" id="Amount" name="Amount" data-ng-model="Payment.Amount" class="col-xs-6 col-sm-2" required placeholder="Amount">
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="PaymentForm.Amount.$error.required && submitted">
                Amount is required.
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Notes</label>
        <div class="col-sm-9">
            <textarea id="Notes" name="Notes" data-ng-model="Payment.Notes" class="col-xs-10 col-sm-5" placeholder="Notes"></textarea>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" ng-click="submitted=true">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>