@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="FreightForm" data-ng-submit="submitFreightRequestsForm()" data-ng-controller="FreightRequestsController" class="form-horizontal" role="form" novalidate>
    <div class="pull-right tableTools-container">
        <a class="btn-new-mail" href="/Freight/ViewFreightRequests">
            <span class="btn btn-purple no-border">
                <i class="ace-icon fa  bigger-130"></i>
                <span class="bigger-110">View Freight Request</span>
            </span>
        </a>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error':FreightForm.Service.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Service</label>

        <div class="col-sm-9">

            <select data-ng-model="FreightRequests.Service" id="Service" name="Service" data-ng-options="service.Id as service.Name for service in Services track by service.Id" class="col-xs-5 col-sm-2" bs-selectbox required>
                <option value='' disabled selected>Please Choose</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.Service.$error.required && submitted">
                Service is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':FreightForm.TrackingNumber.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Tracking Number</label>
        <div class="col-sm-9">
            <input type="text" name="TrackingNumber" id="TrackingNumber" ng-model="FreightRequests.TrackingNumber" class="col-xs-10 col-sm-5" required placeholder="Tracking Number" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.TrackingNumber.$error.required && submitted">
                Tracking Number is required.
            </span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Company Name</label>
        <div class="col-sm-9">
            <input type="text" name="CompanyName" id="CompanyName" ng-model="FreightRequests.CompanyName" class="col-xs-10 col-sm-5" required placeholder="Company Name" />
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':FreightForm.ContactName.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Contact Name</label>
        <div class="col-sm-9">
            <input type="text" name="ContactName" id="ContactName" ng-model="FreightRequests.ContactName" class="col-xs-10 col-sm-5" required placeholder="Contact Name" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.ContactName.$error.required && submitted">
                Contact Name is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':FreightForm.Phone.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone</label>
        <div class="col-sm-9">
            <input type="text" name="Phone" id="Phone" ng-model="FreightRequests.Phone" class="col-xs-10 col-sm-5" required placeholder="Phone" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.Phone.$error.required && submitted">
                Phone is required.
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Fax</label>
        <div class="col-sm-9">
            <input type="text" name="Fax" id="Fax" ng-model="FreightRequests.Fax" class="col-xs-10 col-sm-5" placeholder="Fax" />
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':FreightForm.Email.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>
        <div class="col-sm-9">
            <input type="text" name="Email" id="Email" ng-model="FreightRequests.Email" class="col-xs-10 col-sm-5" required placeholder="Email" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.Email.$error.required && submitted">
                Email is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':FreightForm.ShipmentDate.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Shipment Date</label>
        
        <div class="col-sm-9">
            <input type="text" data-date-format="mm-dd-yyyy" id="ShipmentDate" name="ShipmentDate" data-ng-model="FreightRequests.ShipmentDate" class="col-xs-6 col-sm-2 date-picker" required placeholder="Shipment Date">
            <span class="input-group-addon col-sm-3">
                <i class="fa fa-calendar bigger-110"></i>
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.ShipmentDate.$error.required && submitted">
                Shipment Date is required.
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Contact Method</label>

        <div class="col-sm-9">
            <select data-ng-model="FreightRequests.ContactMethod" ng-init="FreightRequests.ContactMethod='1'" id="ContactMethod" name="ContactMethod" class="col-xs-5 col-sm-2" bs-selectbox>
                <option value="1">Phone</option>
                <option value="2">E-Mail</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':FreightForm.ProcessType.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Process Type</label>
        <div class="col-sm-9">
            <select data-ng-model="FreightRequests.ProcessedType" id="ProcessType" name="ProcessType" 
                    data-ng-options="processType.Id as processType.Name for processType in ProcessTypes track by processType.Id" class="col-xs-5 col-sm-2" bs-selectbox required>
                <option value='' disabled selected>Please Choose</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FreightForm.ProcessType.$error.required && submitted">
                Process Type is required.
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Processed Detail</label>
        <div class="col-sm-9">
            <textarea type="text" name="ProcessedDetail" id="ProcessedDetail" ng-model="FreightRequests.ProcessedDetail" class="col-xs-10 col-sm-5" placeholder="Processed Detail" ></textarea>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" ng-click="submitted=true">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>