@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="DiscountForm" data-ng-submit="submitDiscountForm()" data-ng-controller="DiscountController" class="form-horizontal" role="form" novalidate>
    <div class="pull-right tableTools-container">
        <a class="btn-new-mail" href="/ServiceRate/ViewDiscount">
            <span class="btn btn-purple no-border">
                <i class="ace-icon fa  bigger-130"></i>
                <span class="bigger-110">View Discount</span>
            </span>
        </a>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':DiscountForm.OriginZip.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Origin Zip</label>
        <div class="col-sm-9">
            <input type="text" name="OriginZip" id="OriginZip" ng-model="Discount.OriginZip" class="col-xs-10 col-sm-5" required placeholder="Origin Zip" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="DiscountForm.OriginZip.$error.required && submitted">
                Origin Zip is required.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':DiscountForm.DestinationZip.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Destination Zip</label>
        <div class="col-sm-9">
            <input type="text" name="DestinationZip" id="DestinationZip" ng-model="Discount.DestinationZip" class="col-xs-10 col-sm-5" required placeholder="Destination Zip" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="DiscountForm.DestinationZip.$error.required && submitted">
                Destination Zip is required.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':DiscountForm.GeneralDiscount.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">General Discount</label>
        <div class="col-sm-9">
            <input type="text" name="GeneralDiscount" id="GeneralDiscount" ng-model="Discount.GeneralDiscount" class="col-xs-10 col-sm-5" required placeholder="General Discount" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="DiscountForm.GeneralDiscount.$error.required && submitted">
                General Discount is required.
            </span>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" ng-click="submitted=true">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>