@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="FSCForm" data-ng-submit="submitFSCForm()" data-ng-controller="FSCController" class="form-horizontal" role="form" novalidate>
    <div class="pull-right tableTools-container">
        <a class="btn-new-mail" href="{{url}}">
            <span class="btn btn-purple no-border">
                <i class="ace-icon fa  bigger-130"></i>
                <span class="bigger-110">View FSC</span>
            </span>
        </a>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':FSCForm.Service.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Service</label>

        <div class="col-sm-9">
            <select name="Service" class="col-xs-10 col-sm-5" id="Service" data-ng-model="FSC.Service" required>
                <option value='' selected>Please Choose</option>
                <option value="1">Service1</option>
                <option value="2">Service2</option>
                <option value="3">Service3</option>
                <option value="4">Service4</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FSCForm.Service.$error.required && submitted">
                Service  is required.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':FSCForm.FSCValue.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">FSC Value</label>
        <div class="col-sm-9">
            <input type="text" name="FSCValue" id="FSCValue" ng-model="FSC.FSCValue" class="col-xs-10 col-sm-5" required placeholder="FSC Value" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FSCForm.FSCValue.$error.required && submitted">
                FSC Value is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':FSCForm.EffectiveDate.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Effective Date</label>
        <div class="col-sm-9">
            <input type="text" data-date-format="mm-dd-yyyy" id="EffectiveDate" name="EffectiveDate" data-ng-model="FSC.EffectiveDate" class="col-xs-6 col-sm-2 date-picker" required placeholder="Effective Date">
            <span class="input-group-addon col-sm-3">
                <i class="fa fa-calendar bigger-110"></i>
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="FSCForm.EffectiveDate.$error.required && submitted">
                Effective Date is required.
            </span>
        </div>
    </div>
    
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" ng-click="submitted=true">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>