@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="ZoneUSForm" data-ng-submit="submitZoneUSForm()" data-ng-controller="ZoneUSController" class="form-horizontal" role="form" novalidate>
    <div class="pull-right tableTools-container">
        <a class="btn-new-mail" href="/ServiceRate/ViewZoneUS">
            <span class="btn btn-purple no-border">
                <i class="ace-icon fa  bigger-130"></i>
                <span class="bigger-110">View Post Codes</span>
            </span>
        </a>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <input type="hidden" name="Created" id="Created" ng-model="ZoneUS.Created" class="col-xs-10 col-sm-5"/>
    <div class="form-group" ng-class="{ 'has-error':ZoneUSForm.OriginZipLower.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Origin Zip (LOWER)</label>
        <div class="col-sm-9">
            <input type="text" name="OriginZipLower" id="OriginZipLower" ng-model="ZoneUS.OriginZipLower" class="col-xs-10 col-sm-5" placeholder="Origin Zip (LOWER)" required />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="ZoneUSForm.OriginZipLower.$error.required && submitted">
                Origin Zip (LOWER) is required.
            </span>
        </div>
    </div>


    <div class="form-group" ng-class="{ 'has-error':ZoneUSForm.OriginZipUpper.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Origin Zip (UPPER)</label>
        <div class="col-sm-9">
            <input type="text" name="OriginZipUpper" id="OriginZipUpper" ng-model="ZoneUS.OriginZipUpper" class="col-xs-10 col-sm-5" placeholder="Origin Zip (LOWER)" required />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="ZoneUSForm.OriginZipUpper.$error.required && submitted">
                Origin Zip (UPPER) is required.
            </span>
        </div>
    </div>


    <div class="form-group" ng-class="{ 'has-error':ZoneUSForm.DestinationZipLower.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Destination Zip (LOWER)</label>
        <div class="col-sm-9">
            <input type="text" name="DestinationZipLower" id="DestinationZipLower" ng-model="ZoneUS.DestinationZipLower" class="col-xs-10 col-sm-5" placeholder="Destination Zip (LOWER)" required />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="ZoneUSForm.DestinationZipLower.$error.required && submitted">
                Destination Zip (LOWER) is required.
            </span>
        </div>
    </div>


    <div class="form-group" ng-class="{ 'has-error':ZoneUSForm.DestinationZipUpper.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Destination Zip (UPPER)</label>
        <div class="col-sm-9">
            <input type="text" name="DestinationZipUpper" id="DestinationZipUpper" ng-model="ZoneUS.DestinationZipUpper" class="col-xs-10 col-sm-5" placeholder="Destination Zip (UPPER)" required />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="ZoneUSForm.DestinationZipUpper.$error.required && submitted">
                Destination Zip (UPPER) is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':ZoneUSForm.Zone.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Zone</label>
        <div class="col-sm-9">
            <input type="text" name="Zone" id="Zone" ng-model="ZoneUS.Zone" class="col-xs-10 col-sm-5" placeholder="Zone" required />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="ZoneUSForm.Zone.$error.required && submitted">
                Zone is required.
            </span>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" ng-click="submitted=true">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>