@using System.Threading.Tasks
@model Admin.UI.CP.Pickup.Models.PickupListModel

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Pickup List</h3>

        <div class="clearfix">
            <div>
                <a class="btn btn-success btn-add-shipment width-10" href="/pickup/0">
                    <i class="ace-icon fa fa fa-truck fa"></i>New Pickup
                </a>
            </div>
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            //Header
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>Contact Name</th>
                        <th>Phone </th>
                        <th>Email</th>
                        <th>Pickup Address</th>
                        <th>Pickup City</th>
                        <th>Pickup State</th>
                        <th>Pickup Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/lib/datatables/media/js/jquery.datatables.js"></script>
<script src="~/lib/datatables/media/js/datatables.bootstrap4.min.js"></script>
<script src="~/lib/datatables-tabletools/js/datatables.tabletools.js"></script>
<script src="~/assets/js/pickuplist.js"></script>