<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/assets/css/global.min.css" class="main-stylesheet" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/assets/css/ie9.min.css" class="main-stylesheet" />
    <![endif]-->
    @RenderSection("css_inline", required: false)
    <!--[if lte IE 8]>
        <script src="/assets/js/ie8.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin" ng-cloak>

    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-container" id="navbar-container">
            <toggle-sidebar></toggle-sidebar>
            @await Html.PartialAsync("_NavbarPartial")
        </div>
    </div>

    <div class="main-container" id="main-container">
        @await Html.PartialAsync("_SidebarPartial")
        @RenderBody()
    </div>

    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <!-- <![endif]-->

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/global.min.js"></script>

    <script src="~/assets/js/app.js"></script>
    @RenderSection("js_inline", required: false)
</body>
</html>