@model Admin.UI.CP.Shipment.Models.ShipmentModel
@using ShipOS.Utility.Common.Enumerations

<form asp-controller="Shipment" asp-action="Index" id="PickupForm" antiforgery="false" method="post" class="form-horizontal" role="form">
    <input asp-for="ShipmentId" type="hidden" class="form-control">
    <div class="hr hr-24"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Recipient Address</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div>
                            <label asp-for="Recipient.ContactName"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.ContactName"></span>
                            <input asp-for="Recipient.ContactName" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.Email"> </label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.Email"></span>
                            <input asp-for="Recipient.Email" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.Mobile"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.Mobile"></span>
                            <input asp-for="Recipient.Mobile" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.Phone"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.Phone"></span>
                            <input asp-for="Recipient.Phone" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.CompanyName"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.CompanyName"></span>
                            <input asp-for="Recipient.CompanyName" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.Address1"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.Address1"></span>
                            <input asp-for="Recipient.Address1" type="text" class="form-control">

                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.Address2"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.Address2"></span>
                            <input asp-for="Recipient.Address2" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.Address3"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.Address3"></span>
                            <input asp-for="Recipient.Address3" type="text" class="form-control">

                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.City"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.City"></span>
                            <input asp-for="Recipient.City" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.DivisionCode"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.DivisionCode"></span>
                            <input asp-for="Recipient.DivisionCode" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.CountryCode"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.CountryCode"></span>
                            <input asp-for="Recipient.CountryCode" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Recipient.PostalCode"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Recipient.PostalCode"></span>
                            <input asp-for="Recipient.PostalCode" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Shipper Address</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <div class="itemdiv">
                            <label asp-for="Shipper.ContactName"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.ContactName"></span>
                            <input asp-for="Shipper.ContactName" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.Email"> </label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.Email"></span>
                            <input asp-for="Shipper.Email" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.Mobile"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.Mobile"></span>
                            <input asp-for="Shipper.Mobile" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.Phone"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.Phone"></span>
                            <input asp-for="Shipper.Phone" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.CompanyName"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.CompanyName"></span>
                            <input asp-for="Shipper.CompanyName" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.Address1"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.Address1"></span>
                            <input asp-for="Shipper.Address1" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.Address2"></label>
                            <span class="error-text  fa-pull-right" asp-validation-for="Shipper.Address2"></span>
                            <input asp-for="Shipper.Address2" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.Address3"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.Address3"></span>
                            <input asp-for="Shipper.Address3" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.City"></label>
                            <span class="error-text  fa-pull-right" asp-validation-for="Shipper.City"></span>
                            <input asp-for="Shipper.City" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.DivisionCode"></label>
                            <span class="error-text  fa-pull-right" asp-validation-for="Shipper.DivisionCode"></span>
                            <input asp-for="Shipper.DivisionCode" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.CountryCode"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.CountryCode"></span>
                            <input asp-for="Shipper.CountryCode" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Shipper.PostalCode"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Shipper.PostalCode"></span>
                            <input asp-for="Shipper.PostalCode" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Shipment Details</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <div>
                            <label asp-for="Agent"></label>
                            <span asp-validation-for="Agent" class="error-text fa-pull-right"></span>
                            <select asp-for="Agent" type="text" class="chosen-select form-control" data-placeholder="Choose a Carrier...">
                                <option value="0">Aramex Account 1</option>
                                <option value="4">Aramex Account 1</option>
                                <option value="1">DHL</option>
                                <option value="2">Endicia</option>
                                <option value="3">UPS</option>
                            </select>
                            <div class="space-10"></div>
                        </div>
                        <div>
                            <label asp-for="ShipmentDate"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="ShipmentDate"></span>
                            <input asp-for="ShipmentDate" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Comments"> </label>
                            <span class="error-text fa-pull-right" asp-validation-for="Comments"></span>
                            <textarea asp-for="Comments" type="text" class="form-control"></textarea>
                            <div class="space-10"></div>
                        </div>

                      

                        <div>
                            <label asp-for="Unit"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Unit"></span>
                            <select asp-for="Unit" type="text" class="chosen-select form-control" data-placeholder="Choose a Carrier...">
                                <option value="0">Imperial (Inch-Pound)</option>
                                <option value="1">Metric(CM-Kg)</option>
                            </select>
                            <div class="space-10"></div>
                        </div>

                      
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Collection On Delivery</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <div>
                            <label asp-for="CollectionOnDelivery.Amount"></label>
                            <span asp-validation-for="CollectionOnDelivery.Amount" class="error-text fa-pull-right"></span>
                            <select asp-for="CollectionOnDelivery.Amount" type="text" class="chosen-select form-control" data-placeholder="Choose a Carrier...">
                                <option value="0">Secured</option>
                                <option value="1">Unsecured</option>
                            </select>
                            <div class="space-10"></div>
                        </div>
                        <div>
                            <label asp-for="CollectionOnDelivery.Amount"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="CollectionOnDelivery.Amount"></span>
                            <input asp-for="CollectionOnDelivery.Amount" type="text" class="form-control">
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <label asp-for="Comments"> </label>
                            <span class="error-text fa-pull-right" asp-validation-for="Comments"></span>
                            <textarea asp-for="Comments" type="text" class="form-control"></textarea>
                            <div class="space-10"></div>
                        </div>

                       

                        <div>
                            <label asp-for="Unit"></label>
                            <span class="error-text fa-pull-right" asp-validation-for="Unit"></span>
                            <select asp-for="Unit" type="text" class="chosen-select form-control" data-placeholder="Choose a Carrier...">
                                <option value="0">Imperial (Inch-Pound)</option>
                                <option value="1">Metric(CM-Kg)</option>
                            </select>
                            <div class="space-10"></div>
                        </div>

                        <div>
                            <input asp-for="IsDocument" type="checkbox">
                            <label asp-for="IsDocument"></label>
                            <div class="space-10"></div>
                        </div>
                        <div>
                            <input asp-for="HoldOff" type="checkbox">
                            <label asp-for="HoldOff"></label>
                            <div class="space-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title"> Package Information</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <table class="table parceltable">
                            <thead>
                                <tr>
                                    <th class="width-20">
                                        <label>Contents</label>
                                    </th>
                                    <th>
                                        <label>Reference</label>
                                    </th>
                                    <th>
                                        <label>ParcelType</label>
                                    </th>
                                    <th>
                                        <label>width</label>
                                    </th>
                                    <th>
                                        <label>Height</label>
                                    </th>
                                    <th>
                                        <label>Length</label>
                                    </th>
                                    <th>
                                        <label>Weight</label>
                                    </th>
                                    <th>
                                        <label>ItemCount</label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @for (var index = 0; index < Model.Parcels.Count; index++)
                                {

                                    <tr id="0" class="rowToClone">
                                        <td>
                                            <Textarea asp-for="Parcels[index].Contents" type="text" class="width-100 form-control"></Textarea>
                                            <span asp-validation-for="Parcels[index].Contents" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <input asp-for="Parcels[index].ReferenceId" type="text" class="form-control ">
                                            <span asp-validation-for="Parcels[index].ReferenceId" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <select asp-for="Parcels[index].PackageType" class="chosen-select" asp-items="Html.GetEnumSelectList<ParcelType>();"> </select>
                                            <span asp-validation-for="Parcels[index].PackageType" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <input asp-for="Parcels[index].Width" type="text" placeholder="Inches" class="form-control">
                                            <span asp-validation-for="Parcels[index].Width" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <input asp-for="Parcels[index].Length" type="text" placeholder="Inches" class="form-control">
                                            <span asp-validation-for="Parcels[index].Length" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <input asp-for="Parcels[index].Weight" type="text" placeholder="LBS" class="form-control">
                                            <span asp-validation-for="Parcels[index].Weight" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <input asp-for="Parcels[index].Height" type="text" placeholder="Inches" class="form-control">
                                            <span asp-validation-for="Parcels[index].Height" class="error-text col-sm-12 pull-right"></span>
                                        </td>

                                        <td>
                                            <input asp-for="Parcels[index].ItemCount" type="text" class="form-control">
                                            <span asp-validation-for="Parcels[index].ItemCount" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pull-right col-xs-4">
                            <button class="btn btn-danger btn-remove-parcel width-10" type="button">
                                <i class="ace-icon fa fa fa-truck fa"></i>Remove
                            </button>

                            <button class="btn btn-success btn-add-parcel width-10" type="button">
                                <i class="ace-icon fa fa fa-truck fa"></i>Add More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="CommodityDetails" class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Commodity Details</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="width-20">
                                        <label>Code</label>
                                    </th>
                                    <th>
                                        <label>Description</label>
                                    </th>
                                    <th>
                                        <label>CountryOfOrigin</label>
                                    </th>
                                    <th>
                                        <label>Quantity</label>
                                    </th>
                                    <th>
                                        <label>Unit</label>
                                    </th>
                                    <th>
                                        <label>UnitValue</label>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (var index = 0; index < Model.Contents.Count; index++)
                                {
                                    <tr id="0" class="rowToClone">
                                        <td>
                                            <input asp-for="Contents[index].Code" type="text" class="form-control">
                                            <span asp-validation-for="Contents[index].Code" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                        <td>
                                            <Textarea asp-for="Contents[index].Description" type="text" class="width-100 form-control"></Textarea>
                                            <span asp-validation-for="Contents[index].Description" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                        <td>
                                            <input asp-for="Contents[index].CountryOfOrigin" class="form-control">
                                            <span asp-validation-for="Contents[index].CountryOfOrigin" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                        <td>
                                            <input asp-for="Contents[index].Quantity" type="text" placeholder="Inches" class="form-control">
                                            <span asp-validation-for="Contents[index].CountryOfOrigin" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                        <td>
                                            <select asp-for="Contents[index].Unit" type="text" placeholder="Inches" class="chosen-select">
                                                <option value="1">EA</option>
                                                <option value="2">PCs</option>
                                            </select>
                                            <span asp-validation-for="Contents[index].Unit" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                        <td>
                                            <input asp-for="Contents[index].UnitValue" type="text" placeholder="LBS" class="form-control">
                                            <span asp-validation-for="Contents[index].UnitValue" class="error-text col-sm-12 pull-right"></span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pull-right col-xs-4">
                            <button class="btn btn-danger btn-remove width-10" type="button">
                                <i class="ace-icon fa fa fa-truck fa"></i>Remove
                            </button>

                            <button class="btn btn-success btn-add width-10" type="button">
                                <i class="ace-icon fa fa fa-truck fa"></i>Add More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("SaveReset")
</form>
<script src="~/assets/js/shipment.js"></script>
<script>
</script>