@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="AddressBook" data-ng-submit="submitForm()" data-ng-controller="AddressBookController" class="form-horizontal" role="form" novalidate>

    <div class="pull-right tableTools-container">
        <a class="btn-new-mail" href="/User/ViewAddress">
            <span class="btn btn-purple no-border">
                <i class="ace-icon fa  bigger-130"></i>
                <span class="bigger-110">View Address</span>
            </span>
        </a>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container"></div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':AddressBook.Type.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address type </label>

        <div class="col-sm-9">

            <select name="Type" id="Type" ng-model="contact.AddressType" required class="col-xs-10 col-sm-5" placeholder="Select Address Type">
                <option value='' disabled selected>Please Choose</option>
                <option value="1">Shipper</option>
                <option value="0">Recipient</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.Type.$error.required && submitted">
                Address Type  is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':AddressBook.sName.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
            Short name
        </label>

        <div class="col-sm-9">
            <input type="text" name="sName" id="sName" ng-model="contact.ShortName" class="col-xs-10 col-sm-5" ng-minlength="3" required placeholder="Enter Short Name" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.sName.$error.required && submitted">
                Short Name is required.
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.sName.$error.minlength && submitted">
                Short Name should be min 3 character.
            </span>
        </div>
    </div>

    @*<div class="form-group" ng-class="{ 'has-error':AddressBook.company.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Company</label>

        <div class="col-sm-9">
            <input type="text" name="company" id="company" ng-model="contact.Company" class="col-xs-10 col-sm-5" ng-maxlength="100" required="" placeholder="Enter Company Name" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.company.$error.required && submitted">
                Company is required.
            </span>
        </div>
    </div>*@

    <div class="form-group" ng-class="{ 'has-error':AddressBook.firstname.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">First name</label>

        <div class="col-sm-9">
            <input type="text" name="firstname" id="firstname" ng-model="contact.FirstName" class="col-xs-10 col-sm-5" ng-maxlength="50" required="" placeholder="Enter First Name" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.firstname.$error.required && submitted">
                First Name  is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':AddressBook.lastname.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Last name</label>

        <div class="col-sm-9">
            <input type="text" name="lastname" id="lastname" ng-model="contact.LastName" class="col-xs-10 col-sm-5" ng-maxlength="50" required="" placeholder="Enter Last Name" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.lastname.$error.required && submitted">
                Last Name is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':AddressBook.phone1.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone 1</label>

        <div class="col-sm-9">
            <input type="number" ng-minlength="10" name="phone1" id="phone1" data-ng-model="contact.Phone1" placeholder="Enter Phone Number" class="col-xs-10 col-sm-5" required />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.phone1.$error.required && submitted">
                Phone 1 is required.
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.phone1.$error.minlength && submitted">
                Phone 1 should be min 10 digit.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':AddressBook.phone2.$invalid  }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone 2</label>

        <div class="col-sm-9">
            <input type="number" name="phone2" id="phone2" ng-model="contact.Phone2" class="col-xs-10 col-sm-5" data-phone ng-minlength="10" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.phone2.$error.required">
                Phone 2  is required.
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.phone2.$error.minlength && submitted">
                Phone 2 should be min 10 digit.
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Fax</label>

        <div class="col-sm-9">
            <input type="number" name="fax" id="fax" ng-model="contact.Fax" class="col-xs-10 col-sm-5" data-phone ng-minlength="10" />
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':AddressBook.Email.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>

        <div class="col-sm-9">
            <input type="email" name="Email" id="Email" ng-model="contact.Email" class="col-xs-10 col-sm-5" required placeholder="Enter Email">
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.Email.$error.required && submitted">
                Email  is required.
            </span>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.Email.$invalid && submitted">
                Email should be valid.
            </span>
        </div>
    </div>

    <h3 class="header smaller lighter blue">
        Address Information
    </h3>
    <div class="form-group" ng-class="{ 'has-error':AddressBook.Country.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Country</label>

        <div class="col-sm-9">

            <select id="Country" class="col-xs-10 col-sm-5" data-ng-model="contact.CountryId" name="Country"
                    data-ng-options="country.Id as country.Name for country in Country track by country.Id" data-ng-change="GetValue()" required>
                <option value='' disabled selected>Please Choose</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.Country.$error.required && submitted">
                Country is required.
            </span>
        </div>
        <input type="hidden" ng-model="contact.CountryCode" />
    </div>
    <div class="form-group" ng-class="{ 'has-error':AddressBook.ddlState.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Province / State</label>

        <div class="col-sm-9">
            <select id="ddlState" class="col-xs-10 col-sm-5" data-ng-model="contact.Division" name="ddlState"
                    data-ng-options="state.Name as state.Name for state in States track by state.Id" required>
                <option value='' disabled selected>Please Choose</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.ddlState.$error.required && submitted">
                Province/State  is required.
            </span>
        </div>
    </div>

    <div class="row" id="DHL" ng-if="contact.Division == '0'">

        <div class="form-group" ng-class="{ 'has-error':AddressBook.ddlState.$invalid && AddressBook.ddlState.$dirty }">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Division Name</label>

            <div class="col-sm-9">

                <input id="Division" class="col-xs-10 col-sm-7" name="Division" type="number" data-ng-model="contact.Division" required />
                <span class="">
                    <span class="error" data-ng-show="AddressBook.ddlState.$error.required && AddressBook.ddlState.$dirty">Division name is required</span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':AddressBook.postalcode.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Postal Code</label>

        <div class="col-sm-9">
            <input type="text" name="postalcode" id="postalcode" ng-model="contact.PostalCode" class="col-xs-10 col-sm-5" required="" placeholder="Enter Postal code" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.postalcode.$error.required && submitted">
                Postal Code is required.
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':AddressBook.city.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Town / City</label>

        <div class="col-sm-9">
            <input type="text" name="city" id="city" ng-model="contact.City" class="col-xs-10 col-sm-5" required placeholder="Enter City" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.city.$error.required && submitted">
                City  is required.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':AddressBook.addressline1.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{{contact.Address1Label}} </label>

        <div class="col-sm-9">
            <input type="text" name="addressline1" id="addressline1" ng-model="contact.Address1" class="col-xs-10 col-sm-5" required="" placeholder="Enter {{contact.Address1Label}}" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.addressline1.$error.required && submitted">
                {{contact.Address1Label}}   is required.
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':AddressBook.addressline2.$invalid && submitted }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{{contact.Address2Label}} </label>

        <div class="col-sm-9">
            <input type="text" name="addressline2" id="addressline2" ng-model="contact.Address2" class="col-xs-10 col-sm-5" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.addressline2.$error.required && submitted">
                {{contact.Address2Label}}  is required.
            </span>
        </div>
    </div>
    <div class="form-group" ng-show="contact.isAddress3Visible" ng-class="{ 'has-error':AddressBook.addressline3.$invalid }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address Line 3 </label>

        <div class="col-sm-9">
            <input type="text" name="addressline3" id="addressline3" ng-model="contact.Address3" class="col-xs-10 col-sm-5" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="AddressBook.addressline3.$error.required">
                Address Line 3  is required.
            </span>
        </div>
    </div>

    <hr />

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info" ng-click="submitted=true">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>