@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="AddressBook" data-ng-submit="submitForm()" data-ng-controller="AddressBookController" class="form-horizontal" role="form" novalidate>
    <div id="errorMessages" class="error">{{message}}</div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address type </label>

        <div class="col-sm-9">

            <select name="Type" ng-model="contact.AddressType" required class="col-xs-10 col-sm-5">
                <option value="1">Shipper</option>
                <option value="-1">Recipient</option>
            </select>
             &nbsp; <i ng-validation-icon="contact.$errors.AddressType"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
            Short name
        </label>

        <div class="col-sm-9">
            <input type="text" name="sName" id="sName" ng-model="contact.ShortName" class="col-xs-10 col-sm-5" ng-minlength="3" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.ShortName"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Company</label>

        <div class="col-sm-9">
            <input type="text" name="company" id="company" ng-model="contact.Company" class="col-xs-10 col-sm-5" ng-maxlength="100" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.Company"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">First name</label>

        <div class="col-sm-9">
            <input type="text" name="firstname" id="firstname" ng-model="contact.FirstName" class="col-xs-10 col-sm-5" ng-maxlength="50" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.FirstName"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Last name</label>

        <div class="col-sm-9">
            <input type="text" name="lastname" id="lastname" ng-model="contact.LastName" class="col-xs-10 col-sm-5" ng-maxlength="50" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.LastName"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone 1</label>

        <div class="col-sm-9">
            <input type="text" name="phone1" id="phone1" data-ng-model="contact.Phone1" placeholder="" class="col-xs-10 col-sm-5" required />
            &nbsp; <i ng-validation-icon="contact.$errors.Phone1"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone 2</label>

        <div class="col-sm-9">
            <input type="text" name="phone2" id="phone2" ng-model="contact.Phone2" class="col-xs-10 col-sm-5" data-phone />
            &nbsp; <i ng-validation-icon="contact.$errors.Phone2"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Fax</label>

        <div class="col-sm-9">
            <input type="tel" name="fax" id="fax" ng-model="contact.Fax" class="col-xs-10 col-sm-5" data-phone />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email</label>

        <div class="col-sm-9">
            <input type="text" name="Email" id="Email" ng-model="contact.Email" class="col-xs-10 col-sm-5" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.Email"><label></label></i>
        </div>
    </div>

    <h3 class="header smaller lighter blue">
        Address Information
    </h3>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Country</label>

        <div class="col-sm-9">

            <select id="Country" class="col-xs-10 col-sm-5" data-ng-model="contact.CountryId" name="Country"
                    data-ng-options="country.Id as country.Name for country in Country track by country.Id" data-ng-change="GetValue()" required></select>
            &nbsp; <i ng-validation-icon="contact.$errors.CountryId"><label></label></i>
        </div>
        <input type="hidden" ng-model="contact.CountryCode" />
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Postal Code</label>

        <div class="col-sm-9">
            <input type="text" name="postalcode" id="postalcode" ng-model="contact.PostalCode" class="col-xs-10 col-sm-5" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.PostalCode"><label></label></i>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Province / State</label>

        <div class="col-sm-9">
            <select id="ddlState" class="col-xs-10 col-sm-5" data-ng-model="contact.Division" name="ddlState"
                    data-ng-options="state.Name as state.Name for state in States track by state.Id" required></select>
            &nbsp; <i ng-validation-icon="contact.$errors.Division"><label></label></i>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Town / City</label>

        <div class="col-sm-9">
            <input type="text" name="city" id="city" ng-model="contact.City" class="col-xs-10 col-sm-5" required />
            &nbsp; <i ng-validation-icon="contact.$errors.City"><label></label></i>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{{contact.Address1Label}} </label>

        <div class="col-sm-9">
            <input type="text" name="addressline1" id="addressline1" ng-model="contact.Address1" class="col-xs-10 col-sm-5" required="" />
            &nbsp; <i ng-validation-icon="contact.$errors.Address1"><label></label></i>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">{{contact.Address2Label}} </label>

        <div class="col-sm-9">
            <input type="text" name="addressline2" id="addressline2" ng-model="contact.Address2" class="col-xs-10 col-sm-5"  />
            &nbsp; <i ng-validation-icon="contact.$errors.Address2"><label></label></i>
        </div>
    </div>
    <div class="form-group" ng-show="contact.isAddress3Visible">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address Line 3 </label>

        <div class="col-sm-9">
            <input type="text" name="addressline3" id="addressline3" ng-model="contact.Address3" class="col-xs-10 col-sm-5" />
            &nbsp; <i ng-validation-icon="contact.$errors.Address3"><label></label></i>
        </div>
    </div>

    <hr />

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
</form>