@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="AddressBook" data-ng-submit="submitForm()" data-ng-controller="AddressBookController" class="form-horizontal" role="form" novalidate>
    <div id="errorMessages" class="error">{{message}}</div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address type </label>

        <div class="col-sm-9">

            <select name="Type" ng-model="contact.AddressType" required="" class="col-xs-10 col-sm-5">
                <option value="1">Shipper</option>
                <option value="-1">Recipient</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="error middle" ng-show="AddressBook.Type.$error.required">Choose address type</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
            Short name
        </label>

        <div class="col-sm-9">
            <input type="text" name="sName" id="sName" ng-model="contact.ShortName" class="col-xs-10 col-sm-5" ng-maxlength="100" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Company <span ng-show="AddressBook.company.$error.required" ng-class="{'error-text': AddressBook.company.$error.required}">*</span></label>

        <div class="col-sm-9">
            <input type="text" name="company" id="company" ng-model="contact.Company" class="col-xs-10 col-sm-5" ng-maxlength="100" required="" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">First name<span ng-show="AddressBook.firstname.$error.required" ng-class="{'error-text': AddressBook.firstname.$error.required}">*</span></label>

        <div class="col-sm-9">
            <input type="text" name="firstname" id="firstname" ng-model="contact.FirstName" class="col-xs-10 col-sm-5" ng-maxlength="50" required="" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Last name <span ng-show="AddressBook.lastname.$error.required" ng-class="{'error-text': AddressBook.lastname.$error.required}">*</span></label>

        <div class=" col-sm-9">
            <input type="text" name="lastname" id="lastname" ng-model="contact.LastName" class="col-xs-10 col-sm-5" ng-maxlength="50" required="" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone 1 <span ng-show="AddressBook.phone1.$error.required" ng-class="{'error-text': AddressBook.phone1.$error.required}">*</span><br /></label>

        <div class="col-sm-9">
            <input type="text" name="phone1" id="phone1" ng-model="contact.Phone1" class="col-xs-10 col-sm-5" required="" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Phone 2</label>

        <div class="col-sm-9">
            <input type="tel" name="phone2" id="phone2" ng-model="contact.Phone2" class="col-xs-10 col-sm-5" data-phone />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Fax</label>

        <div class="col-sm-9">
            <input type="tel" name="fax" id="fax" ng-model="contact.Fax" class="col-xs-10 col-sm-5" data-phone />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Email <span ng-show="AddressBook.Email.$error.required" ng-class="{'error-text': AddressBook.Email.$error.required}">*</span></label>

        <div class="col-sm-9">
            <input type="email" name="Email" id="Email" ng-model="contact.Email" class="col-xs-10 col-sm-5" required="" />
        </div>
    </div>

    <h3 class="header smaller lighter blue">
        Address Information
    </h3>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Country<span ng-show="AddressBook.Country.$error.required" ng-class="{'error-text': AddressBook.Country.$error.required}">*</span> </label>

        <div class="col-sm-9">

            <select id="Country" class="col-xs-10 col-sm-5" data-ng-model="contact.CountryId" name="Country"
                    data-ng-options="country.Id as country.Name for country in Country track by country.Id" data-ng-change="GetValue()" required></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Postal Code <span ng-show="AddressBook.postalcode.$error.required" ng-class="{'error-text': AddressBook.postalcode.$error.required}">*</span> </label>

        <div class="col-sm-9">
            <input type="text" name="postalcode" id="postalcode" ng-model="contact.PostalCode" class="col-xs-10 col-sm-5" required postalcode />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">State </label>

        <div class="col-sm-9">
            <select id="ddlState" class="col-xs-10 col-sm-5" data-ng-model="contact.Division" name="ddlState"
                    data-ng-options="state.Name as state.Name for state in States track by state.Id" required></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">City<span ng-show="AddressBook.city.$error.required" ng-class="{'error-text': AddressBook.city.$error.required}">*</span> </label>

        <div class="col-sm-9">
            <input type="text" name="city" id="city" ng-model="contact.City" class="col-xs-10 col-sm-5" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address Line 1 <span ng-show="AddressBook.addressline1.$error.required" ng-class="{'error-text': AddressBook.addressline1.$error.required}">*</span></label>

        <div class="col-sm-9">
            <input type="text" name="addressline1" id="addressline1" ng-model="contact.Address1" class="col-xs-10 col-sm-5" required="" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address Line 2 </label>

        <div class="col-sm-9">
            <input type="text" name="addressline2" id="addressline2" ng-model="contact.Address2" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Address Line 3 </label>

        <div class="col-sm-9">
            <input type="text" name="addressline3" id="addressline3" ng-model="contact.Address3" class="col-xs-10 col-sm-5" />
        </div>
    </div>
    <hr />

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn btn-info">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
</form>