@model Admin.UI.Areas.User.Models.ChangePassword
@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="col-sm-7" ng-controller="UserController">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Change Password</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form novalidate name="frmRegistration">
                    <div style="color:red">{{message}}</div>

                    <div>
                        <label for="form-field-mask-1" class="col-sm-3">
                            @Html.LabelFor(model => model.NewPassword, " New Password ")
                        </label>

                        <div class="input-group col-sm-8">
                            @Html.TextBoxFor(model => model.NewPassword, "New Password", new { type = "password", id = "Password", @class = "form-control ", @placeholder = "Password", ng_model = "User.Password", @name = "Password", ng_minlength = "8", ng_class = "submitted?'ng-dirty':''" })
                            <validated-input name="Password" display="Password" ng-model="User.Password" required>
                                <span class="error" ng-show="frmRegistration.Password.$error.minlength">
                                    Password Should Contain Atleast 8 Characters
                                </span>
                                <span class="error" ng-show="(frmRegistration.Password.$dirty || submitted) && frmRegistration.Password.$error.required">New Password required!</span>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <label for="form-field-mask-1" class="col-sm-3">
                            @Html.LabelFor(model => model.ConfirmPassword, " Confirm Password")
                        </label>

                        <div class="input-group col-sm-8">
                            @Html.TextBoxFor(model => model.ConfirmPassword, "Confirm Password", new { type = "password", id = "ConfirmPassword", @class = "form-control ", @placeholder = "Confirm Password", ng_model = "User.ConfirmPassword", @name = "ConfirmPassword", ng_minlength = "8", ng_class = "submitted?'ng-dirty':''" })
                            <validated-input name="Password" display="Password" ng-model="User.Password" required>
                                <span class="error" ng-show="frmRegistration.Password.$error.minlength">
                                    Password Should Contain Atleast 8 Characters
                                </span>
                                <span class="error" ng-show="(frmRegistration.Password.$dirty || submitted) && frmRegistration.Password.$error.required">Confirm Password required!</span>
                        </div>
                    </div>
                    <hr />
                    <div class="clearfix form-actions" style="margin-bottom:0px;">
                        <div class="text-right">
                            <button type="button" class="btn btn-info" ng-click="SaveData(User)">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>