@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="col-sm-7">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">First attempt please Register yourself</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form name="mainForm" data-ng-submit="sendForm()" data-ng-controller="SignUpController" novalidate>
                    <div id="errorMessages" class="error">{{message}}</div>
                    <div>
                        <label for="form-field-mask-1" class="col-sm-3">
                            <label for="userName">User Name</label>
                        </label>

                        <div class="input-group col-sm-8">
                            <input id="userName" class="form-control" name="userName" type="email" data-ng-model="person.userName" required ng-unique validate-email />
                            <span class="error" data-ng-show="mainForm.userName.$error.required"></span>
                            <span class="error" data-ng-show="mainForm.userName.$error.unique">Username already exists.</span>
                            <span class="error" data-ng-show="mainForm.userName.$error.invalid">Invalid! it should be a valid email</span>
                        </div>
                    </div>
                    <hr />

                    <div>
                        <label for="form-field-mask-1" class="col-sm-3">
                            <label for="password">Password</label>
                        </label>

                        <div class="input-group col-sm-8">
                            <input id="password" name="password" class="form-control" type="password" data-ng-model="person.Password" data-ng-minlength="8" required />
                            <span class="error" data-ng-show="mainForm.password.$error.required"></span>
                            <span class="error" data-ng-show="mainForm.password.$error.minlength">Minimum 8 characters are required.</span>
                        </div>
                    </div>
                    <hr />

                    <div>
                        <label for="form-field-mask-1" class="col-sm-3">
                            <label for="confirmPassword">Confirm Password</label>
                        </label>

                        <div class="input-group col-sm-8">
                            <input id="confirmPassword" class="form-control" name="confirmPassword" type="password" data-ng-model="person.confirmPassword" required />
                            <span class="error" data-ng-show="mainForm.password.$error.required"></span>
                            <span class="error" data-ng-show="(mainForm.password.$dirty && mainForm.confirmPassword.$dirty) && (person.Password != person.confirmPassword)">Password mismatched</span>
                        </div>
                    </div>

                    <div>
                        <input id="domainKey" class="form-control" name="domainKey" data-ng-model="person.domainKey" type="hidden" required value="B171F61C-8914-4C5D-AF88-C3B776D80916" />
                    </div>

                    <div class="clearfix form-actions" style="margin-bottom:0px;">
                        <div class="text-right">
                            <button type="submit" class="btn btn-info" data-ng-disabled="mainForm.$invalid">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>