@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form name="mainForm" data-ng-submit="sendForm()" data-ng-controller="LoginController" class="form-horizontal" role="form" novalidate>
    <div id="errorMessages" class="error">{{message}}</div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">User Name</label>

        <div class="col-sm-9">
            <input id="userName" class="col-xs-10 col-sm-5" name="userName" type="email" data-ng-model="person.userName" required ng-unique validate-email />
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="error middle" data-ng-show="mainForm.userName.$error.required"></span>
                <span class="error middle" data-ng-show="mainForm.userName.$error.invalid">Invalid! it should be a valid email</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Password</label>

        <div class="col-sm-9">
            <input id="password" name="password" class="col-xs-10 col-sm-5" type="password" data-ng-model="person.Password" data-ng-minlength="8" required />
            <span class="help-inline col-xs-12 col-sm-7">
                <span class="error middle" data-ng-show="mainForm.password.$error.required"></span>
                <span class="error middle" data-ng-show="mainForm.password.$error.minlength">Minimum 8 characters are required.</span>
            </span>
        </div>
    </div>

    <div style="visibility:hidden">
        <input id="domainKey" class="form-control" name="domainKey" data-ng-model="person.DomainKey" type="text" value="B171F61C-8914-4C5D-AF88-C3B776D80916" required />
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="button" class="btn btn-info">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Login
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
</form>