
@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="col-sm-7" ng-controller="UserController">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Thank you for register with us</h4>
        </div>
        <div class="widget-body"> 
            <div class="widget-main">
                
            </div>
        </div>
    </div>
</div>
</div>