@{
    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="col-sm-7">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">View Address</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form name="AddressBook" data-ng-submit="submitForm()" data-ng-controller="ViewAddressController" novalidate>
                    <div id="errorMessages" class="error">{{message}}</div>
                    <div class="row">
                        <div class="col-xs-10">
                            <!-- PAGE CONTENT BEGINS -->
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </form>
            </div>
        </div>
    </div>
</div>