@{

    Layout = "~/Views/shared/_layout.cshtml";
}
<div class="col-sm-7">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Pickup Request Detail</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main pikupRequestDetail">
                <form class="form-inline" name="PickupForm" data-ng-submit="sendForm()" data-ng-controller="PickupRequestController" novalidate>
                    <div id="errorMessages" class="error">{{message}}</div>

                    <div class="widget-box" id="divfrm">
                        <div class="widget-header">
                            <h5 class="widget-title">Step 1 : Pickup Location</h5>
                        </div>
                        <div class="widget-body1">
                            <div class="widget-main">

                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3 marTopNone">
                                        Contact Name <span class="error" data-ng-show="PickupForm.contactName.$error.required">*</span>
                                    </label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control" id="contactName" name="contactName" data-ng-model="pickupRequest.ContactName" ng-disabled="isDisabled" required>
                                    </div>
                                </div>
                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        Phone <span class="error" data-ng-show="PickupForm.phone.$error.required">*</span>
                                    </label>

                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control" placeholder="" id="phone" name="phone" data-ng-model="pickupRequest.Phone" ng-disabled="pickupRequest.isDisabled" required>
                                    </div>
                                </div>
                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        Address
                                    </label>

                                    <div class="input-group col-sm-8">

                                        <select id="AddressType" class="form-control" data-ng-model="pickupRequest.AddressType" name="AddressType"
                                                data-ng-options="address.Id as address.ShortName for address in Address track by address.Id" data-ng-change="GetAddressValue()" required></select>
                                    </div>

                                </div>
                                <div style="clear:both;height:5px;"></div>
                                <div ng-if="pickupRequest.AddressType == 0">
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        Address Caption <span class="error" data-ng-show="PickupForm.addressCaption.$error.required">*</span>
                                    </label>

                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control" placeholder="" id="addressCaption" name="addressCaption" data-ng-model="pickupRequest.AddressCaption" required>
                                    </div>
                                </div>

                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        <span class="error" data-ng-show="PickupForm.addressLine1.$error.required"></span>Address Line 1 <span class="error" data-ng-show="PickupForm.addressLine1.$error.required">*</span>
                                        <div style="height:15px;clear:both"></div>
                                        Address Line 2
                                    </label>

                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control" placeholder="" id="addressLine1" name="addressLine1" data-ng-model="pickupRequest.Address1"  ng-disabled="pickupRequest.isDisabled" required>
                                        <div style="height:5px;clear:both"></div>
                                        <input type="text" class="form-control" placeholder="" id="addressLine2" name="addressLine2" data-ng-model="pickupRequest.Address2" ng-disabled="pickupRequest.isDisabled">
                                    </div>
                                </div>
                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        City <span class="error" data-ng-show="PickupForm.city.$error.required">*</span>
                                    </label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control" placeholder="" id="city" name="city" data-ng-model="pickupRequest.City" ng-disabled="pickupRequest.isDisabled" required>
                                    </div>
                                </div>
                                <div style="clear:both;height:5px;"></div>

                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        Country <span class="error" data-ng-show="PickupForm.CountryId.$error.required">*</span>
                                    </label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <select id="CountryId" class="form-control" data-ng-model="pickupRequest.CountryId" name="CountryId"
                                                data-ng-options="country.Id as country.Name for country in Country track by country.Id" data-ng-change="GetValue()" ng-disabled="pickupRequest.isDisabled" required></select>
                                    </div>
                                </div>

                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        Zip Code <span class="error" data-ng-show="PickupForm.zipCode.$error.required">*</span>
                                    </label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <input type="text" class="form-control" placeholder="" id="zipCode" name="zipCode" data-ng-model="pickupRequest.ZipCode" ng-disabled="pickupRequest.isDisabled" required>
                                    </div>
                                </div>
                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">
                                        Division <span class="error" data-ng-show="PickupForm.Division.$error.required">*</span>
                                    </label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">

                                        <select id="Division" class="form-control" data-ng-model="pickupRequest.Division" name="Division"
                                                data-ng-options="state.Name as state.Name for state in States track by state.Id" ng-disabled="pickupRequest.isDisabled" required></select>
                                    </div>
                                </div>
                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">Address Notes</label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <textarea placeholder="Floor / Doorbell etc" id="form-field-8" class="form-control" data-ng-model="pickupRequest.AddressNotes"></textarea>
                                    </div>
                                    <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="Check address notes" title="Info">?</span>
                                </div>

                                <div style="clear:both;height:5px;"></div>
                                <div>
                                    <label for="form-field-mask-1" class="col-sm-3">Is Residential?</label>
                                    <!-- #section:plugins/input.masked-input -->
                                    <div class="input-group col-sm-8">
                                        <input type="checkbox" id="heavy" data-ng-model="pickupRequest.isResidential" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget-header">
                            <h5 class="widget-title">Step 2 : Package and Service Information</h5>
                        </div>
                        <div class="widget-body1">
                            <div class="widget-main">
                                <div class="widget-header">
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-6">
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    Carrier <span class="error" data-ng-show="PickupForm.ddlCarrier.$error.required">*</span>
                                                </label>

                                                <div class="input-group col-sm-8">
                                                    <select id="ddlCarrier" class="form-control" data-ng-model="pickupRequest.Carrier" name="ddlCarrier"
                                                            data-ng-options="carrier.Id as carrier.Name for carrier in Carriers.Data track by carrier.Id" required></select>
                                                </div>
                                            </div>
                                            <div style="clear:both;height:5px;"></div>
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    Pickup From<span class="error" data-ng-show="PickupForm.pickupfrom.$error.required">*</span>
                                                </label>

                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" placeholder="" id="pickupfrom" name="pickupfrom" data-ng-model="pickupRequest.PickupFrom" required>
                                                </div>
                                                <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="If different than the contact name" title="Info">?</span>
                                            </div>
                                            <div style="clear:both;height:5px;"></div>
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    Pickup Date<span class="error" data-ng-show="PickupForm.datepicker.$error.required">*</span>  
                                                </label>

                                                <div class="input-group col-sm-8">
                                                    <input type="text" data-date-format="dd-mm-yyyy" id="datepicker" name="datepicker" data-ng-model="pickupRequest.PickupDate" class="form-control date-picker" required>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div style="clear:both;height:5px;"></div>
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    Destination <span class="error" data-ng-show="PickupForm.ddldestination.$error.required">*</span>  
                                                </label>
                                                <!-- #section:plugins/input.masked-input -->
                                                <div class="input-group col-sm-8">
                                                    <select id="ddldestination" class="form-control" data-ng-model="pickupRequest.Destination" name="ddldestination"
                                                            data-ng-options="destination.Name for destination in Destination.Data track by destination.Id" required></select>
                                                </div>
                                            </div>
                                            <div style="clear:both;height:5px;"></div>
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    Parcel type <span class="error" data-ng-show="PickupForm.parcelType.$error.required">*</span>  
                                                </label>

                                                <!-- #section:plugins/input.masked-input -->
                                                @*<div class="input-group col-sm-1">
                                                        <input type="checkbox" id="heavy" data-ng-model="pickupRequest.isHeavy" />
                                                    </div>*@
                                                <div class="input-group col-sm-8">
                                                    <select name="parcelType" id="parcelType" class="form-control" ng-model="pickupRequest.ParcelType" ng-dropdown required>
                                                        <option ng-option value="1">Document</option>
                                                        <option ng-option value="2">Standard Package (Can be carrier by one person)</option>
                                                        <option ng-option value="3">Has Heavy Piece(s) weight is more than 35 lbs</option>
                                                        <option ng-option value="4">Has Bulky Piece(s) at least one dimension is larger than 40 inches</option>

                                                    </select>
                                                </div>

                                                <div style="clear:both;height:5px;"></div>
                                                <div>
                                                    <label for="form-field-mask-1" class="col-sm-3">
                                                        Additionals Instructions
                                                    </label>
                                                    <!-- #section:plugins/input.masked-input -->
                                                    <div class="input-group col-sm-8">
                                                        <textarea placeholder="Default Text" id="form-field-8" class="form-control" data-ng-model="pickupRequest.AdditionalsInstructions"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div>
                                                <label class="col-sm-5">
                                                    <div class="input-group col-sm-8"> Ready Time <span class="error" data-ng-show="PickupForm.timepicker2.$error.required">*</span></div>
                                                </label>
                                                <!-- #section:plugins/input.masked-input -->
                                                <div class="input-group col-sm-5">
                                                    <div class="bootstrap-timepicker">
                                                        <input type="text" class="col-sm-5" data-ng-model="pickupRequest.ReadyTime" data-format="hh:mm" id="timepicker2" name="timepicker2" required>
                                                        <span class="input-group-addon" style="padding:8px 12px 9px 12px;">
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;height:5px;"></div>
                                            <div>
                                                <label class="col-sm-5">Last Available Time <span class="error" data-ng-show="PickupForm.timepicker1.$error.required">*</span></label>
                                                <!-- #section:plugins/input.masked-input -->
                                                <div class="input-group col-sm-5">
                                                    <div class="bootstrap-timepicker">
                                                        <input type="text" class="col-sm-5" data-ng-model="pickupRequest.AvailableTime" id="timepicker1"  name="timepicker1" data-format="hh:mm" required>
                                                        <span class="input-group-addon" style="padding:8px 12px 9px 12px;">
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <span ng-if="CheckTime(pickupRequest.ReadyTime.replace(':',''),pickupRequest.AvailableTime.replace(':',''))" class="error">
                                                Invalid last available time!
                                            </span>
                                            <div style="clear:both;height:5px;"></div>
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-5">
                                                     Total Pieces <span class="error" data-ng-show="PickupForm.totalPieces.$error.required">*</span>
                                                </label>

                                                <div class="input-group col-sm-5">
                                                    <input type="number" class="col-sm-8" placeholder="" id="totalPieces" min="1" name="totalPieces" data-ng-model="pickupRequest.TotalPieces" ng-pattern="/^[0-9]{1,7}$/" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="widget-header">
                            <h5 class="widget-title">Step 3 : Pickup Notification</h5>
                            <div class="widget-toolbar">
                                <a data-action="collapse" href="#">
                                    click to show
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-body" style="display:none">
                            <div class="widget-main">
                                <div class="widget-header">
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-6">
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    Mobile Numbers
                                                </label>

                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" data-ng-model="pickupRequest.PickUpNotificationMobile" placeholder="" id="Mobile">
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div>
                                                <label for="timepicker1" class="col-sm-3">Emails</label>
                                                <!-- #section:plugins/input.masked-input -->
                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" data-ng-model="pickupRequest.PickUpNotificationEmail" placeholder="" id="Email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <div>
                                                <label for="form-field-mask-1" class="col-sm-3">
                                                    your email
                                                </label>

                                                <div class="input-group col-sm-8">
                                                    <input type="text" class="form-control" data-ng-model="pickupRequest.PickUpNotificationYourEmail" placeholder="" name="yourEmail" id="yourEmail">
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>

                                    <div>
                                        <label for="form-field-mask-1" class="col-sm-3">
                                            personalized messages
                                        </label>
                                        <!-- #section:plugins/input.masked-input -->
                                        <div class="input-group col-sm-8">
                                            <textarea placeholder="Default Text" id="form-field-8" class="form-control" data-ng-model="pickupRequest.PickUpNotificationPersonalizedMessage"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions" id="divbtn" style="margin-bottom:0px;">
                        <div class="text-right">
                            <button type="submit" class="btn btn-info" ng-disabled="CheckTime(pickupRequest.ReadyTime.replace(':',''),pickupRequest.AvailableTime.replace(':',''))">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Save
                            </button>

                            <button type="reset" class="btn">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                New
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>