@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="widget-main">

    <!-- #section:plugins/fuelux.wizard -->

    <form class="form-horizontal" name="shipment" role="form" novalidate id="shipment" data-ng-submit="sendForm()" data-ng-controller="shipmentsController">

        <div id="fuelux-wizard-container">
            <div>
                <!-- #section:plugins/fuelux.wizard.steps -->
                <ul class="steps">
                    <li data-step="1" class="active" ng-class="{'complete':step1Done }">
                        <span class="step">1</span>
                        <span class="title"> Shipping Vendor (Carrier)</span>
                    </li>

                    <li data-step="2" ng-class="{'complete':step2Done }">
                        <span class="step">2</span>
                        <span class="title">Where is the shipment going?</span>
                    </li>

                    <li data-step="3" ng-class="{'complete':step3Done }">
                        <span class="step">3</span>
                        <span class="title">Where is the shipment coming from?</span>
                    </li>

                    <li data-step="4" ng-class="{'complete':step4Done }">
                        <span class="step">4</span>
                        <span class="title">Shipment and Package Details</span>
                    </li>
                </ul>

                <!-- /section:plugins/fuelux.wizard.steps -->
            </div>

            <hr />
           
            <!-- #section:plugins/fuelux.wizard.container -->
            <div class="step-content pos-rel">
                <div class="step-pane" data-step="1" ng-class="{'active':step == 1 }">

                    <div class="form-group" ng-class="{ 'has-error':shipment.vendortype.$invalid && submitted }">


                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Carrier</label>
                        </label>
                        <div class="col-sm-9">
                            <select name="vendortype" ng-model="vendor.VendorType"
                                    data-ng-options="vendor.Id as vendor.Name for vendor in Vendors track by vendor.Id" class="col-xs-10 col-sm-7" ng-dropdown required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.vendortype.$error.required && submitted">
                                Carrier is required.
                            </span>
                        </div>
                        <div class="wizard-actions">

                            <button ng-click="Step1Click()" class="btn btn-success btn-next" >
                                Next
                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                        </div>
                    </div>



                </div>

                <div class="step-pane" data-step="2" ng-class="{'active':step == 2 && step1Done }" >

                    <div class="form-group" ng-class="{ 'has-error':shipment.RCompany.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Company </label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="RCompany" id="RCompany" ng-model="Shipments.RCompany" class="col-xs-10 col-sm-7" ng-maxlength="100" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.RCompany.$error.required && submitted ">
                                Company is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error':shipment.Rname.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Receiver's Name</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Rname" id="Rname" ng-model="Shipments.Rname" class="col-xs-10 col-sm-7" ng-maxlength="50" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Rname.$error.required && submitted ">
                                Receiver's Name is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Rphone.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Phone</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Rphone" id="Rphone" ng-model="Shipments.Rphone" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isRDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.RCompany.$error.required && submitted ">
                                Phone is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Remail.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Email</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="email" name="Remail" id="Remail" ng-model="Shipments.Remail" class="col-xs-10 col-sm-7" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Remail.$error.required && submitted ">
                                Email is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Raddress.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Type</label>
                        </label>
                        <div class="col-sm-9">
                            <select name="Raddress" ng-model="Shipments.RAddressType" class="col-xs-10 col-sm-7" data-ng-options="address.Id as address.ShortName for address in Address track by address.Id" data-ng-change="GetConsigeeAddressValue()" required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Raddress.$error.required && submitted ">
                                Address Type is required.
                            </span>
                        </div>
                    </div>

                    <div ng-if="Shipments.RAddressType == 0" class="form-group" ng-class="{ 'has-error':shipment.raddressCaption.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Caption</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-7" placeholder="" id="raddressCaption" name="raddressCaption" data-ng-model="Shipments.RaddressCaption" required>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.raddressCaption.$error.required && submitted ">
                                Address Caption is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Raddressline1.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Line 1</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Raddressline1" id="Raddressline1" ng-model="Shipments.Raddressline1" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isRDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Raddressline1.$error.required && submitted ">
                                Address Line 1 is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Raddressline1.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Line 2</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Raddressline2" id="Raddressline2" ng-model="Shipments.Rcity" class="col-xs-10 col-sm-7" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Raddressline1.$error.required && submitted ">
                                Address Line 2 is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Line 3</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Raddressline3" id="Raddressline3" ng-model="Shipments.Raddressline3" class="col-xs-10 col-sm-7" />
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Rcity.$invalid  && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>City</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Rcity" id="Rcity" ng-model="Shipments.Rcity" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isRDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Rcity.$error.required && submitted ">
                                City is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.RCompany.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Country</label>
                        </label>
                        <div class="col-sm-9">
                            <select id="RCountry" class="col-xs-10 col-sm-7" data-ng-model="Shipments.RCountryId" name="RCountry"
                                    data-ng-options="country.Id as country.Name for country in Country track by country.Id" ng-disabled="Shipments.isRDisabled" data-ng-change="GetDivision(Shipments.RCountryId)" required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.RCountryId.$error.required && submitted ">
                                Country is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Rpostalcode.$invalid && submitted  }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Postal Code</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Rpostalcode" id="Rpostalcode" ng-model="Shipments.Rpostalcode" ng-disabled="Shipments.isRDisabled" class="col-xs-10 col-sm-7" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Rpostalcode.$error.required && submitted ">
                                Postal Code is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.RDivision.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Division</label>
                        </label>
                        <div class="col-sm-9">
                            <select id="RDivision" class="col-xs-10 col-sm-7" data-ng-model="Shipments.RDivision" name="RDivision"
                                    data-ng-options="state.Name as state.Name for state in States track by state.Id" ng-disabled="Shipments.isRDisabled" required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.RDivision.$error.required && submitted ">
                                Division is required.
                            </span>
                        </div>
                    </div>


                    <div class="wizard-actions">

                        <button class="btn btn-prev" ng-click="PreStep2Click()">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Prev
                        </button>
                        <button ng-click="Step2Click()" class="btn btn-success btn-next"  >
                            Next
                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>

                </div>

                <div class="step-pane" data-step="3" ng-class="{'active':step == 3 }" >

                    <div class="form-group" ng-class="{ 'has-error':shipment.company.$invalid  && submitted}">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Company </label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="company" id="company" ng-model="Shipments.company" class="col-xs-10 col-sm-7" ng-maxlength="100" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.company.$error.required && submitted">
                                Company is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.name.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Sent By</label>
                        </label>

                        <div class="col-sm-9">
                            <input type="text" name="name" id="name" ng-model="Shipments.Name" class="col-xs-10 col-sm-7" ng-maxlength="50" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.name.$error.required && submitted">
                                Send by is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.phone.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Phone</label>
                        </label>

                        <div class="col-sm-9">
                            <input type="text" name="phone" id="phone" ng-model="Shipments.Phone" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.phone.$error.required && submitted">
                                Phone is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.email.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Email</label>
                        </label>

                        <div class="col-sm-9">
                            <input type="email" name="email" id="email" ng-model="Shipments.email" class="col-xs-10 col-sm-7" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.email.$error.required && submitted">
                                Email is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.address.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address</label>
                        </label>

                        <div class="col-sm-9">
                            <select name="address" ng-model="Shipments.AddressType" class="col-xs-10 col-sm-7" data-ng-options="address.Id as address.ShortName for address in Address track by address.Id" data-ng-change="GetShipperAddressValue()" required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.address.$error.required && submitted">
                                Address is required.
                            </span>
                        </div>
                    </div>

                    <div ng-if="Shipments.AddressType == 0" class="form-group" ng-class="{ 'has-error':shipment.addressCaption.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Caption</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-7" placeholder="" id="addressCaption" name="addressCaption" data-ng-model="Shipments.AddressCaption" required>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.addressCaption.$error.required && submitted">
                                Address Caption is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error':shipment.addressline1.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Line 1</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="addressline1" class="col-xs-10 col-sm-7" id="addressline1" ng-model="Shipments.Address1" ng-disabled="Shipments.isDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.addressline1.$error.required && submitted">
                                Address Line 1 is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error':shipment.addressline2.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Line 2</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="addressline2" id="addressline2" ng-model="Shipments.Address2" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isDisabled" />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.addressline2.$error.required && submitted">
                                Address Line2 is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Address Line 3</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="addressline3" id="addressline3" ng-model="Shipments.Address3" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isDisabled" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error':shipment.city.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>City</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="city" id="city" ng-model="Shipments.City" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.city.$error.required && submitted">
                                City is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.CountryId.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Country</label>
                        </label>
                        <div class="col-sm-9">
                            <select id="CountryId" class="col-xs-10 col-sm-7" data-ng-model="Shipments.CountryId" name="CountryId"
                                    data-ng-options="country.Id as country.Name for country in Country track by country.Id" ng-disabled="Shipments.isDisabled" data-ng-change="GetDivision(Shipments.CountryId)" required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.CountryId.$error.required && submitted">
                                Country is required.
                                <input type="hidden" ng-model="Shipments.CountryName" />
                                <input type="hidden" ng-model="Shipments.CountryCode" />
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.postalcode.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Postal Code</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="postalcode" id="postalcode" ng-model="Shipments.PostalCode" class="col-xs-10 col-sm-7" ng-disabled="Shipments.isDisabled" required />
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.postalcode.$error.required && submitted">
                                Postal Code is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.Division.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Division</label>
                        </label>
                        <div class="col-sm-9">
                            <select id="Division" class="col-xs-10 col-sm-7" data-ng-model="Shipments.Division" name="Division"
                                    data-ng-options="state.Name as state.Name for state in States track by state.Id" ng-disabled="Shipments.isDisabled" required></select>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.Division.$error.required && submitted">
                                Division is required.
                            </span>
                        </div>
                    </div>
                    <div class="wizard-actions">

                        <button class="btn btn-prev" ng-click="PreStep3Click()" >
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Prev
                        </button>

                        <button ng-click="Step3Click()" class="btn btn-success btn-next" >
                            Next
                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                </div>

                <div class="step-pane" data-step="4" ng-class="{'active':step == 4 }" >

                    <div class="form-group" ng-class="{ 'has-error':shipment.shipmentdate.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Shipment Date</label>
                        </label>
                        <div class="col-sm-3">
                            <input type="text" data-date-format="dd-mm-yyyy" class="col-sm-10 date-picker" id="shipmentdate" name="shipmentdate" data-ng-model="Shipments.shipmentdate" required>
                            <span class="input-group-addon" style="height:34px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="shipment.shipmentdate.$error.required && submitted">
                                Shipment Date is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-field-mask-1" class="col-md-3 control-label no-padding-right">
                            <label>Weight & Dimensions</label>
                        </label>

                        <div class="col-md-6">

                            <table class="table">
                                <tr>

                                    <th>Weight</th>
                                    <th>Length</th>
                                    <th>Width</th>
                                    <th>Height</th>
                                </tr>
                                <tr ng:repeat="item in Parcel.items">
                                    <td ng-class="{ 'has-error':shipment.weight.$invalid }">
                                        <input type="number" min="0" ng:model="item.Weight" name="weight" required class="form-control col-md-1">
                                        <span class="help-inline col-xs-12 col-sm-5" data-ng-show="shipment.weight.$error.required">
                                            Weight is required.
                                        </span>
                                    </td>
                                    <td ng-class="{ 'has-error':shipment.length.$invalid }">
                                        <input type="number" min="0" ng:model="item.Length" required class="form-control col-md-1" name="length">
                                        <span class="help-inline col-xs-12 col-sm-5" data-ng-show="shipment.length.$error.required">
                                            Length is required.
                                        </span>
                                    </td>
                                    <td ng-class="{ 'has-error':shipment.width.$invalid }">
                                        <input type="number" min="0" ng:model="item.Width" required class="form-control col-md-1" name="width">
                                        <span class="help-inline col-xs-12 col-sm-5" data-ng-show="shipment.width.$error.required">
                                            Width is required.
                                        </span>
                                    </td>
                                    <td ng-class="{ 'has-error':shipment.height.$invalid }">
                                        <input type="number" min="0" ng:model="item.Height" required class="form-control col-md-1" name="height">
                                        <span class="help-inline col-xs-12 col-sm-5" data-ng-show="shipment.height.$error.required">
                                            Height is required.
                                        </span>
                                    </td>
                                    <td ng-if="item.IsRemoveActive == '1'">

                                        <button type="button" class="btn btn-info btn-xs" ng-click="removeItem($index)">Remove Packet</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5"><button type="button" class="btn btn-info btn-xs" ng-click="addItem()">Add Packet</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error':shipment.packagetype.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Package Type</label>
                        </label>
                        <div class="col-sm-9">
                            <select name="packagetype" ng-model="Shipments.packagetype" class="col-xs-10 col-sm-7" required>
                                <option ng-option value="1">Document</option>
                                <option ng-option value="2">Standard Package</option>
                                <option ng-option value="3">Has Heavy Piece(s)</option>
                                <option ng-option value="4">Has Bulky Piece(s)</option>
                            </select>
                            <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="Standard Package (Can be carrier by one person).Has Heavy Piece(s) weight is more than 35 lbs. Has Bulky Piece(s) at least one dimension is larger than 40 inches" title="Info">?</span>
                            <span class="help-inline col-xs-12 col-sm-5" data-ng-show="shipment.packagetype.$error.required && submitted">
                                Package Type is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error':shipment.unitsystem.$invalid && submitted }">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Unit System</label>
                        </label>
                        <div class="col-sm-9">
                            <select name="unitsystem" ng-model="Shipments.unitsystem" class="col-xs-10 col-sm-7" required>
                                <option value="us" selected="selected">Imperial (lb-inch)</option>
                                <option value="eu">Metric (kg-cm)</option>
                            </select>
                            <span class="help-inline col-xs-12 col-sm-5" data-ng-show="shipment.unitsystem.$error.required && submitted">
                                Unit System is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Insurance</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="insurance" id="insurance" ng-model="Shipments.Insurance" class="col-md-1 col-sm-1 input-sm pull-left" required="" />
                            <span class="help-inline col-md-5 col-sm-5">
                                <i ng-validation-icon="Shipments.$errors.Insurance"><label></label></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                            <label>Declared Value</label>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="Declared" id="Declared" ng-model="Shipments.Declared" class="col-xs-10 col-sm-7" required="" />

                            <span class="help-inline col-xs-12 col-sm-5">
                                <i ng-validation-icon="Shipments.$errors.Declared"><label></label></i>
                            </span>
                        </div>
                    </div>

                    <div class="wizard-actions">

                        <button class="btn btn-prev" ng-click="PreStep4Click()">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Prev
                        </button>
                        <button ng-click="Step4Click()" class="btn btn-success btn-next"  >
                            Finish
                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- /section:plugins/fuelux.wizard.container -->
        </div>

        
        <div class="wizard-actions" style="visibility:hidden">
            <!-- #section:plugins/fuelux.wizard.buttons -->
            <button class="btn btn-prev">
                <i class="ace-icon fa fa-arrow-left"></i>
                Prev
            </button>

            <button class="btn btn-success btn-next" data-last="Finish" ng-click="StepClick()">
                Next
                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </button>

            <!-- /section:plugins/fuelux.wizard.buttons -->
        </div>

    </form>

    <!-- /section:plugins/fuelux.wizard -->




    <script src="~/assets/js/jquery.min.js"></script>

    <script src="~/assets/js/global.min.js"></script>
    <script src="/assets/js/fuelux/fuelux.wizard.js"></script>


