@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="row">
    <div class="widget-container-col col-xs-10">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h5 class="widget-title smaller">Tracking</h5>

                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#awb">By AWB Number</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#status">By Status & Date</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#pod">Bulk POD Entry</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#manifest">By Manifest</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Delete">Delete Tracking</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-6">
                    <div class="tab-content">
                        <div id="awb" class="tab-pane in active">
                            <div class="form-group">
                                <label for="form-field-1" class="control-label no-padding-right pull-left">AWB/Ref Number</label>
                                <div class="col-sm-2">
                                    <input type="text" class="col-xs-12 col-sm-12" placeholder="AWB/Ref Number" id="form-field-1">
                                </div>

                                <button type="button" class="btn btn-sm btn-success">
                                    Continue
                                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                </button>
                            </div>
                        </div>

                        <div id="status" class="tab-pane">
                            <div class="form-group">
                                <label for="form-field-1" class="control-label no-padding-right pull-left">Status</label>
                                <div class="input-group pull-left">
                                    <select id="form-field-select-1" class="">
                                        <option value="-10">All Non-Delivered</option>
                                        <option value="1">Pending (No Trk Data)</option>
                                        <option value="3">In Transit</option>
                                        <option value="10">Delivered / Stopped</option>
                                        <option value="4">Delivered</option>
                                        <option value="6">Stopped</option>
                                        <option value="5">Exception</option>
                                    </select>
                                </div>

                                <label for="id-date-range-picker-1" class="control-label no-padding-right pull-left">Shipping Date</label>
                                <div class="pull-left">
                                    <div class="input-daterange input-group">
                                        <input type="text" name="start" class="input-sm form-control">
                                        <span class="input-group-addon">
                                            <i class="fa fa-exchange"></i>
                                        </span>

                                        <input type="text" name="end" class="input-sm form-control">
                                    </div>
                                </div>

                                <button type="button" class="btn btn-sm btn-success pull-left">
                                    Continue
                                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                </button>
                                <div style="clear:both;"></div>
                            </div>
                        </div>

                        <div id="pod" class="tab-pane">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                        </div>

                        <div id="manifest" class="tab-pane">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                        </div>

                        <div id="delete" class="tab-pane">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>