@{

    Layout = "~/Views/shared/_layout.cshtml";
}

<form class="form-horizontal" role="form" name="VendorForm" data-ng-submit="sendVendorForm()" data-ng-controller="vendorController" novalidate>

    <div class="form-group" ng-class="{ 'has-error':VendorForm.Name.$invalid  && VendorForm.Name.$dirty }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Nick Name </label>

        <div class="col-sm-9">
            <input id="Name" class="col-xs-10 col-sm-7" name="Name" type="text" data-ng-model="vendor.Name" required placeholder="Enter Name" />
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="VendorForm.Name.$error.required && VendorForm.Name.$dirty">
                <span class="error" data-ng-show="VendorForm.Name.$error.required">Vendor setting name is required </span>
            </span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':VendorForm.vendortype.$invalid  && VendorForm.vendortype.$dirty}">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Carrier</label>

        <div class="col-sm-9">
            <select class="col-xs-10 col-sm-7" name="vendortype" ng-model="vendor.VendorType" ng-dropdown required>
                <option value='' disabled selected>Please Choose</option>
                <option value="1">DHL</option>
                <option value="2">Endicia</option>
                <option value="3">FedEx</option>
                <option value="4">UPS</option>
            </select>
            <span class="help-inline col-xs-12 col-sm-7" data-ng-show="VendorForm.vendortype.$error.required && VendorForm.vendortype.$dirty">
                <span class="error" data-ng-show="VendorForm.vendortype.$error.required">Vendor Type is required </span>
            </span>
        </div>
    </div>

    <h3 class="header smaller lighter blue">
        {{vendor.type}} Configuration Setting
    </h3>

    <div class="row" id="DHL" ng-if="vendor.VendorType == '1'">

        <div class="form-group" ng-class="{ 'has-error':VendorForm.DHLAcc.$invalid && VendorForm.DHLAcc.$dirty }">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Third Party Account#</label>

            <div class="col-sm-9">

                <input id="DHLAcc" class="col-xs-10 col-sm-7" name="DHLAcc" type="number" data-ng-model="vendor.DHLAcc" required placeholder="Enter Third Party Account# " />
                <span class="">
                    <span class="error" data-ng-show="VendorForm.DHLAcc.$error.required && VendorForm.DHLAcc.$dirty">Third party account is required</span>
                </span>
            </div>
        </div>
    </div>

    <div class="row" id="Endicia" ng-if="vendor.VendorType == '2'">
        <div class="form-group" ng-class="{ 'has-error':VendorForm.EndiciaAcc.$invalid && VendorForm.EndiciaAcc.$dirty }">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Account#</label>

            <div class="col-sm-9">
                <input id="EndiciaAcc" class="col-xs-10 col-sm-7" name="EndiciaAcc" type="number" data-ng-model="vendor.EndiciaAcc" required placeholder="Enter Account#" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.EndiciaAcc.$error.required && VendorForm.EndiciaAcc.$dirty">Account number is required</span>
                </span>
            </div>
        </div>
    </div>

    <div class="row" id="FedEx" ng-if="vendor.VendorType == '3'">
        <div class="form-group" ng-class="{ 'has-error':VendorForm.FedexAcc.$invalid && VendorForm.FedexAcc.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">
                Account#
            </label>

            <div class="col-sm-9">
                <input id="FedexAcc" class="col-xs-10 col-sm-7" name="FedexAcc" type="number" data-ng-model="vendor.FedexAcc" required placeholder="Enter Account#" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.FedexAcc.$error.required && VendorForm.FedexAcc.$dirty">Account number is required</span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error':VendorForm.FedexMeter.$invalid && VendorForm.FedexMeter.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">Meter#</label>

            <div class="col-sm-9">
                <input id="FedexMeter" class="col-xs-10 col-sm-7" name="FedexMeter" type="number" data-ng-model="vendor.FedexMeter" required placeholder="Enter Meter#" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.FedexMeter.$error.required && VendorForm.FedexMeter.$dirty">Meter number is required</span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error':VendorForm.FedexPayAcc.$invalid && VendorForm.FedexPayAcc.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">Billing (Payment) Account#</label>

            <div class="col-sm-9">
                <input id="FedexPayAcc" class="col-xs-10 col-sm-7" name="FedexPayAcc" type="number" data-ng-model="vendor.FedexPayAcc" required placeholder="Enter Billing (Payment) Account#" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.FedexPayAcc.$error.required && VendorForm.FedexPayAcc.$dirty">Payment account number is required</span>
                </span>
            </div>
        </div>
    </div>

    <div class="row" id="UPS" ng-if="vendor.VendorType == '4'">

        <div class="form-group" ng-class="{ 'has-error':VendorForm.UPSLicenseNo.$invalid && VendorForm.UPSLicenseNo.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">License#</label>

            <div class="col-sm-9">
                <input id="UPSLicenseNo" class="col-xs-10 col-sm-7" name="UPSLicenseNo" type="number" data-ng-model="vendor.UPSLicenseNo" required placeholder="Enter Licensce#" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.UPSLicenseNo.$error.required && VendorForm.UPSLicenseNo.$dirty">License number is required</span>
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error':VendorForm.UPSUserName.$invalid && VendorForm.UPSUserName.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">User Name</label>

            <div class="col-sm-9">
                <input id="UPSUserName" class="col-xs-10 col-sm-7" name="UPSUserName" type="text" data-ng-model="vendor.UPSUserName" required placeholder="Enter User Name" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.UPSUserName.$error.required && VendorForm.UPSUserName.$dirty">User name is required</span>
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error':VendorForm.UPSpassword.$invalid && VendorForm.UPSpassword.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">Password</label>

            <div class="col-sm-9">
                <input id="UPSpassword" class="col-xs-10 col-sm-7" name="UPSpassword" type="password" data-ng-model="vendor.UPSpassword" required placeholder="Enter Password" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.UPSpassword.$error.required && VendorForm.UPSpassword.$dirty">Password is required</span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error':VendorForm.UPSAcc.$invalid && VendorForm.UPSAcc.$dirty }">
            <label for="form-field-mask-1" class="col-sm-3 control-label no-padding-right">Third Party Account#</label>

            <div class="col-sm-9">
                <input id="UPSAcc" class="col-xs-10 col-sm-7" name="UPSAcc" type="number" data-ng-model="vendor.UPSAcc" required placeholder="Enter Third Party Account#" />
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.UPSAcc.$error.required && VendorForm.UPSAcc.$dirty">Third party account number is required</span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error':VendorForm.effectiveDate.$invalid && VendorForm.effectiveDate.$dirty }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
            Effective Date
        </label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" name="effectiveDate" data-date-format="dd-mm-yyyy" id="effectiveDate" ng-model="vendor.Effective" class="form-control date-picker" required placeholder="Enter Effective Date">
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.effectiveDate.$error.required && VendorForm.effectiveDate.$dirty">Effective date is required</span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error':VendorForm.expirationDate.$invalid && VendorForm.expirationDate.$dirty }">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
            Expiration Date
        </label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" data-date-format="dd-mm-yyyy" name="expirationDate" ng-model="vendor.Expiration" id="expirationDate" class="form-control date-picker" required placeholder="Enter Expiration Date">
                <span class="input-group-addon">
                    <i class="fa fa-calendar bigger-110"></i>
                </span>
                <span class="help-inline col-xs-12 col-sm-7">
                    <span class="error" data-ng-show="VendorForm.expirationDate.$error.required && VendorForm.expirationDate.$dirty">Expiration date is required</span>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-info">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
    <div id="errorMessages" class="error">{{message}}</div>
</form>