@{
    Layout = "~/Views/shared/_layout.cshtml";
}
@*<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/assets/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>*@
<script src="~/assets/js/jqGrid.js"></script>

<div class="col-sm-7">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">View Pickup</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form name="AddressBook" data-ng-submit="submitForm()" data-ng-controller="ViewPickupController" novalidate>
                    <div id="errorMessages" class="error">{{message}}</div>
                    <div class="row">
                        <div class="col-xs-10">
                            <!-- PAGE CONTENT BEGINS -->

                            <table class="col-xs-10" id="grid-table"></table>

                            <div id="grid-pager"></div>

                            <script type="text/javascript">
                                var $path_base = "..";//in Ace demo this will be used for editurl parameter
                            </script>

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </form>
            </div>
        </div>
    </div>
</div>
